.img-card {
    background-color: #007bff; /* Blue background */
    border-radius: 10px; /* Rounded edges */
    padding: 5%; /* Padding around the image */
    margin: 20px 0; /* Margin for spacing between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    display: block;
    align-items: center;
}

.scroll-img {
    width: 100%; /* Adjust as needed, '100%' makes the image fill the card */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes bottom space */
    border-radius: 5px; /* Optional: Rounded edges for the image */
}

.content-container {
    position: relative; /* Relative positioning */
    padding-bottom: 60px; /* Space for the button, adjust as needed */
}

.button-container {
    position: fixed; /* Fixed positioning relative to the viewport */
    bottom: 0; /* At the bottom of the viewport */
    width: 100%; /* Full width */
    text-align: center; /* Center the button */
    background-color: #BED0ED;
    padding: 10px 0; /* Optional: Some padding around the button */
}

.likes-container {
    display: flex;
}