.AppMain {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing {
  width: 50vh;
}
.header {
  display: flex;
  justify-content: center;
  background-color: #BED0ED;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10vh;
}

.image-button {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-image {
  max-height: 100%;
  object-fit: cover;
}