.AppMain {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing {
  width: 50vh;
}
.header {
  display: flex;
  justify-content: center;
  background-color: #BED0ED;
}

.image-button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding-inline: 4vh;
}

.button-image {
  width: auto;
  height: 5vh;
}

.button-text {
  margin-top: 8px;
}